<div ng-include src="'views/admin/navBarAdmin.html'"></div>

<div class="title">LISTADO DE FICHAS  "TERRITORIOS INTELIGENTES" </div>
<div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="ficha in fichas">
            <div>
                <label>{{ficha}}
            	{{ficha.municipio}}</br>
                {{ficha.nombreArchivo}}</label></br>
                {{ficha.fechaCreacion}}</br>
                {{ficha.usuarioCreador}}</br>

                <div style="text-align: right;">
                    <a class="btn-lg btn-success" ng-click="editTechnicalDatasheets()" title="Editar"
                   role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </li>
    </ul>
</div>

