<div ng-include src="'views/admin/navBarAdmin.html'"></div>
<script>
    jQuery(document).ready(function(){
        jQuery("#formID").validationEngine('attach');
    });
</script>



<div class="container">
    <div class="col-sm-1"></div>
<div ng-if="message" class="alert alert-danger" role="alert">
    {{message}}
</div>

    <h4 CLASS="text-center">REGISTRO DE TIPOLOGIA</h4>

    <div class="col-sm-10">

        <form class="form-horizontal" role="form" ng-submit="updateTipology()" id="formID">

            <div class="form-group col-sm-10">

                <div class="form-group" >
                    <div class="col-sm-10">
                        <select class="form-control notBorder" ng-model="tipologyId" ng-change="editTipology()">
                            <option value="{{tipology.id}}" ng-repeat="tipology in tipologies">{{tipology.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" >
                    <div class="col-sm-10">
                        <textarea type="text" ng-model="tipology.name"></textarea>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-10">
                        <textarea ng-model="tipology.description"></textarea>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-10">
                        <textarea type="textarea" ng-model="tipology.descriptionExtra"></textarea>
                    </div>
                </div>



                <div class="form-group" >
                    <div class="col-sm-10">
                    <ul>
                        <li ng-repeat="subambito in subAmbitos">
                            <input type="checkbox" ng-model="subambitos[subambito.id]" value="subambito.id">{{subambito.name}}
                        </li>
                    </div>
                    </ul>
                </div>



            </div> <!-- cierro div class="form-group col-sm-10" --> 

                <div class="form-group">
                    <input type="reset" onclick="reset()" class="btn btn-md btn-warning center-block" value="Cancelar">
                    <input type="submit" class="btn btn-md btn-primary center-block" value="Crear">
                </div>
        </form>
    </div><!-- cierro div class="col-sm-10" --> 
    <div class="col-sm-1"></div>
</div> <!-- cierro div container -->  

<script>
    function reset() {
        document.getElementById("formID").reset();
    }
</script>

<!--     <div class="form-group">
                    <div class="col-sm-10">
                                          
                       <md-list ng-controller="AmbitoCtrl" ng-cloak="" class="listdemoListControls form-control validate[required]" >
                       <md-subheader class="md-no-sticky">Elija los ambitos</md-subheader>
                       <md-list-item ng-repeat="ambito in ambitos">
                             <p> {{ ambito.name }} </p>
                             <md-checkbox class="md-secondary" ng-model="ambito.wanted"></md-checkbox>
                       </md-list-item>
                       <md-divider> </md-divider>  

                    </div>
                </div>
            -->