<div ng-include src="'views/admin/navBarAdmin.html'"></div>
<script>
    jQuery(document).ready(function(){
        jQuery("#formID").validationEngine('attach');
    });
</script>



<div class="container">
    <div class="col-sm-1"></div>
<div ng-if="message" class="alert alert-danger" role="alert">
    {{message}}
</div>

    <h4 CLASS="text-center">REGISTRO DE TIPOLOGIA</h4>

    <div class="col-sm-10">

        <form class="form-horizontal" role="form" ng-submit="addTipology()" id="formID">

            <div class="form-group col-sm-10">

                <div class="form-group" >
                    <div class="col-sm-10">
                        <input type="text" ng-model="name"/>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-10">
                        <input type="text" ng-model="description"/>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-10">
                        <input type="text" ng-model="descriptionExtra"/>
                    </div>
                </div>


                <div class="form-group" >
                    <div class="col-sm-10">
                        <select class="form-control notBorder" ng-model="tipologyId">
                            <option  value="{{tipology.id}}" ng-repeat="tipology in tipologies">{{tipology.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" >
                    <div class="col-sm-10">
                    <ul>
                        <li ng-repeat="subambito in subAmbitos">
                            <input type="checkbox" ng-model="subambitos[subambito.id]" value="subambito.id">{{subambito.name}}
                        </li>

                    </ul>
                    </div>
                </div>


            </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-md btn-primary center-block" value="CREAR">
                </div>
        </form>
    </div>
    <div class="col-sm-1"></div>
</div>


