<div ng-include src="'views/admin/navBarAdmin.html'"></div>

<h2 style="text-align: center">CERRAR ENCUESTAS</h2>

<div class="container">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<select class="form-control notBorder" ng-model="surveyid" ng-change="closed(surveyid)">
			<option ng-if="survey.state == 'activa'" value="{{survey.id}}" ng-repeat="survey in surveysDrop">
				{{survey.finaldate | date:'longDate' }} Municipio de {{survey.municipalityId}}
			</option>
		</select>

	</div>
	<div class="col-md-2"></div>
</div>



