<script>
    jQuery(document).ready(function(){
        jQuery("#formID").validationEngine('attach');
    });
</script>
<div ng-include src="'views/admin/navBarAdmin.html'"></div>

<h2 style="text-align: center">EDITAR DEPARTAMENTO</h2>

<div class="col-md-4"></div>
<div class="col-md-4">
    <form class="form-horizontal" role="form" ng-submit="updateDepartment()" id="formID">

            <div class="form-group ">

                <div class="form-group">
                    <div>
                        <input type="text" class="form-control validate[required]" id="name" ng-model="department.name" placeholder="Nombre del Departamento">
                    </div>
                </div>

            </div>

                <div class="form-group">
                    <div>
                        <input type="submit" class="btn btn-md btn-primary center-block" value="ACEPTAR">
                    </div>
                </div>
        </form>
    </div>
<div class="col-md-4"></div>

<script>
    function reset() {
        document.getElementById("formID").reset();
    }
</script>