<div ng-include src="'views/admin/navBarAdmin.html'"></div>

<h2 style="text-align: center">LISTADO DEPARTAMENTOS</h2>
<div class="col-md-3"></div>
    <div class="col-md-6">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="department in departments">
            <div>
                {{department.id}}
                {{department.name}}</br>
                <div style="text-align: right;">
                    <a class="btn-lg btn-success" ng-click="editDepartment(department.id)" title="Editar"
                   role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>

            </div>
        </li>
    </ul>
</div>
<div class="col-md-3"></div>


