<nav class="navbar navbar-default"></nav>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#!/adminHome"><i class="fa fa-home"></i></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

               <ul class="nav navbar-nav">

                <!--   <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                       <span class="caret"></span></a>-->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">REPORTES<span class="caret"></span></a>


                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" ng-controller="GraphicCtrl">
                        <li class="dropdown">

                            <a ng-click="cargarGrafico('uno')" ng-href="#!reports/graphics">Informe y Gráfico de Barras</a>
                            <a ng-click="cargarGrafico('dos')" ng-href="#!reports/graphicsradar">Informe y Gráfico Radar</a>
                            <a ng-click="cargarGrafico('tres')" ng-href="#!reports/graphicsgroup">Informe y Gráfico Por Grupos</a><a ng-click="cargarGrafico('cuatro')" ng-href="#!reports/graphicsambitos">Informe y Gráfico Por Ambito</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">INFORMACIÓN<span class="caret"></span></a>

                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                        <li class="dropdown">
                            <a ng-href="#!survey/close">Cerrar Encuestas</a>
                            <a ng-href="#!tipology/solutionTi">Soluciones IT</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">ENTORNO<span class="caret"></span></a>

                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                        <li class="dropdown-submenu">
                            <a tabindex="-1">Usuarios</a>
                            <ul class="dropdown-menu">
                                <li><a ng-href="#!user/create">Añadir</a></li>
                                <li><a ng-href="#!user/index">Listar</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1">Municipios</a>
                            <ul class="dropdown-menu">
                                <li><a ng-href="#!municipality/create">Añadir</a></li>
                                <li><a ng-href="#!municipality/index">Listar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#!/adminHome">Empresas</a>
                            <ul class="dropdown-menu">
                                <li><a ng-href="#!business/create">Añadir</a></li>
                                <li><a ng-href="#!business/index">Listar</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">CONFIGURACIÓN<span class="caret"></span></a>

                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                        <li class="dropdown">
                            <a ng-href="#!ambitos/index" tabindex="-1">Listar Ambitos</a>
                        </li>

                        <li class="dropdown">
                            <a ng-href="#!subambitos/index" tabindex="-1">Listar Sub-Ambitos</a>
                        </li>

                        <li class="dropdown">
                            <a ng-href="#!degree/index" tabindex="-1">Listar Grados</a>
                        </li>

                        <li class="dropdown">
                            <a ng-href="#!level/index" tabindex="-1">Listar Niveles</a>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1">Tipologias</a>
                            <ul class="dropdown-menu">
                                <li><a ng-href="#!tipology/create">Modificar</a></li>
                                <li><a ng-href="#!tipology/index">Listar</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1">Departamentos</a>
                            <ul class="dropdown-menu">
                                <li><a ng-href="#!department/create">Añadir</a></li>
                                <li><a ng-href="#!department/index">Listar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Usuario<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="">Mi Perfil</a></li>
                        <li><a ng-controller="LoginCtrl" ng-href="" ng-click="logout()">Cerrar Sesión</a></li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>
</nav>

