<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#!/adminHome"><i class="fa fa-home"></i></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

               <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">REPORTES<span class="caret"></span></a>

                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Listados</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Listado 1</a></li>
                                <li><a href="#">Listado 2r</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Gráficos</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Gráfico 1</a></li>
                                <li><a href="#">Gráfico 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">INFORMACIÓN<span class="caret"></span></a>

                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                        <li class="dropdown">
                            <a href="#">Fichas TI</a>
                            <a href="#">Soluciones IT</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">ENTORNO<span class="caret"></span></a>

                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Usuarios</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Añadir</a></li>
                                <li><a href="#">Listar</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Municipios</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Añadir</a></li>
                                <li><a href="#">Listar</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Empresas</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Añadir</a></li>
                                <li><a href="#">Listar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">CONFIGURACIÓN<span class="caret"></span></a>

                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Ambitos</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Añadir</a></li>
                                <li><a href="#">Listar</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Sub-Ambitos</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Añadir</a></li>
                                <li><a href="#">Listar</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Grados</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Añadir</a></li>
                                <li><a href="#">Listar</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Niveles</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Añadir</a></li>
                                <li><a href="#">Listar</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Tipologias</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Añadir</a></li>
                                <li><a href="#">Listar</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Departamentos</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Añadir</a></li>
                                <li><a href="#">Listar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Usuario<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Mi Perfil</a></li>
                        <li><a href="">Cerrar Sesión</a></li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>
</nav>

