<div ng-include src="'views/admin/navBarAdmin.html'"></div>

<h2 style="text-align: center">LISTADO DE GRADOS</h2>
<div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="degree in degrees">
            <div>
                {{degree.id}}
                {{degree.name}}
                SubAmbito: {{degree.subambito_id}}</br>
                <div style="text-align: right;">
                    <a class="btn-lg btn-success" ng-click="editUser()" title="Editar"
                   role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>

            </div>
        </li>
    </ul>
</div>


