<div ng-include src="'views/admin/navBarAdmin.html'"></div>

<div class="title">LISTADO DE PUNTAJE POR ENCUESTA</div>
<div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="score in scores">
            <div>
                {{score.id}}
                Encuesta Nro: {{score.surveys_id}}
                {{score.level_id}}
                </br>
                <div style="text-align: right;">
                    <a class="btn-lg btn-success" ng-click="editUser()" title="Editar"
                   role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>

            </div>
        </li>
    </ul>
</div>


