<div ng-include src="'views/admin/navBarAdmin.html'"></div>

<div class="title">LISTADO DE SUBAMBITOS</div>
<div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="subambito in subAmbitos">
            <div>
                {{subambito.id}}
                {{subambito.name}}
                Ambito: {{subambito.ambito_id}}
                </br>
                <div style="text-align: right;">
                    <a class="btn-lg btn-success" ng-click="editSubAmbito(subambito.id)" title="Editar"
                   role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>

            </div>
        </li>
    </ul>
</div>


