<div ng-include src="'views/admin/navBarAdmin.html'"></div>

<div class="title">LISTADO DE MUNICIPIOS</div>

<div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="municipality in municipalities">
            <div>
                {{municipality.id}}
                {{municipality.name}}
                {{municipality.idioms}}
                {{municipality.intendent}}
                <div style="text-align: right;">
                    <a class="btn-lg btn-success" ng-click="editMunicipality(municipality.id)" title="Editar"
                   role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a ng-controller="TipologyCtrl" class="btn-lg btn-success" ng-click="viewTipology(municipality.tipologyId)" title="Tipologia"
                   role="button"><i class="fa fa-address-card-o" aria-hidden="true"></i></a>
                </div>

                </br>
            </div>
        </li>
    </ul>
</div>



