<div ng-include src="'views/admin/navBarAdmin.html'"></div>


<div class="container" id="capa">


    <div class="title">TIPOLOGIA DEL MUNICIPIO</div>

    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div class="form-group">
            <div>
                <label>{{tipologyy.name}}</label>
            </div>

        </div>

        <div class="form-group">
            <div>
                <p>{{tipologyy.description}}</p>
            </div>

        </div>

        <div class="form-group">
            <div>
                <p>{{tipologyy.descriptionExtra}}</p>
            </div>

        </div>

        <div class="form-group">
            <div>
                <label>Sub Ambitos a Cubrir</label>
                <ul>
                    <li ng-repeat="subambito in subambitosTipology">
                        {{subambito.name}}
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <div class="col-md-2"></div>


    <div class="form-group">
        <div>
            <button class="btn btn-primary" ng-click="generatePDF()"><i class="fa fa-save"></i> Save as PDF</button>
            <a ng-href="#!municipality/index"><i class="fa fa-backward" aria-hidden="true"></i></a>
        </div>
    </div>

</div>
