<div ng-include src="'views/admin/navBarAdmin.html'"></div>

<script>
    jQuery(document).ready(function () {
        jQuery("#formID").validationEngine('attach');
    });
</script>

<div ng-if="message" class="alert alert-danger" role="alert">
    {{message}}
</div>


<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 style="text-align: center">EMPRESA</h2>


        <form class="form-horizontal" role="form" ng-submit="updateSubAmbito()" id="formID">

            <div id="content" class="form-group">

                <div class="form-group">
                    <div class="form-group">
                        <div class="form-group col-md-6">
                            <input disabled="disabled" type="text" class="form-control validate[required]"
                                   id="nombre" ng-model="busines.name">
                        </div>
                        <div class="form-group col-md-6">
                            <input disabled="disabled" type="text" class="form-control validate[required]"
                                   id="apellido" ng-model="busines.description">
                        </div>
                        </br>
                        <div class="form-group col-md-6">
                            <input disabled="disabled" type="text" class="form-control validate[required]"
                                   id="address" ng-model="busines.address">
                        </div>
                        <div class="form-group col-md-6">
                            <input disabled="disabled" type="text" class="form-control validate[required]"
                                   id="phone" ng-model="busines.phone">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h3 style="text-align: center">SUB-AMBITOS ASOCIADOS</h3></br>
                <ul class="list-group checked-list-box">

                    <li class="list-group-item" ng-repeat="subambito in subAmbitos">
                        <input style="margin-right:10px;" type="checkbox"
                               ng-model="subambitos[subambito.id]"
                               value="subambito.id">{{subambito.name}}
                    </li>
                </ul>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-md btn-primary center-block" value="ACTUALIZAR">
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>


</div>

<script type="text/javascript">
    var elem = document.getElementById("drop");
    elem.onchange = function () {

        document.getElementById("preload").style.display = (this.value == "") ? "none" : "block";

        $("#menu").delay(0).fadeOut(50, function () {
            $(this).hide();
            $("#preload").delay(0).fadeOut(50, function () {
                $(this).hide();
            });
        });
        $("#content").delay(0).fadeIn(500);
    };
</script>