<script>
    jQuery(document).ready(function(){
        jQuery("#formID").validationEngine('attach');
    });
</script>


<div class="container">
    <div class="col-sm-1"></div>
<div ng-if="message" class="alert alert-danger" role="alert">
    {{message}}
</div>

    <h4 CLASS="text-center">REGISTRO USUARIO</h4>

    <div class="col-sm-10">

        <form class="form-horizontal" role="form" ng-submit="addUser()" id="formID">

            <div class="form-group col-sm-10">

                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control validate[required]" id="nombre" ng-model="name" placeholder="Nombre">
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control validate[required]" id="apellido" ng-model="lastname" placeholder="Apellido">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <select type="text" class="form-control validate[required]" id="type" ng-model="type" placeholder="Genero">
                            <option value="" selected="selected" disabled>Seleccione rol</option>
                            <option value="admin">Administrador</option>
                            <option value="interviewer">Encuestador</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control validate[required]" id="phone" ng-model="phone" placeholder="Telefono">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="email" class="form-control validate[required, custom[email]]" id="email" ng-model="email" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="password" class="form-control validate[required]" id="password" ng-model="password" placeholder="Contraseña">
                    </div>
                </div>
            </div>

                <div class="form-group">
                    <input type="reset" onclick="reset()" class="btn btn-md btn-warning center-block" value="Reset">
                    <input type="submit" class="btn btn-md btn-primary center-block" value="Crear Usuario">
                </div>
        </form>
    </div>
    <div class="col-sm-1"></div>
</div>

<script>
    function reset() {
        document.getElementById("formID").reset();
    }
</script>