<div ng-include src="'views/admin/navBarAdmin.html'"></div>

<script>
    jQuery(document).ready(function(){
        jQuery("#formID").validationEngine('attach');
    });
</script>

<div class="container">

    <div ng-if="message" class="alert alert-danger" role="alert">
        {{message}}
    </div>

    <h2 style="text-align: center">MODIFICAR USUARIO</h2>

    <div class="col-md-4"></div>
    <div class="col-md-4">

        <form class="form-horizontal" role="form" ng-submit="updateUser()" >

            <div class="for">

                <div class="form-group">
                    <div>
                        <input type="text" class="form-control validate[required]" id="nombre" ng-model="user.name" placeholder="Nombre">
                    </div>
                    <div>
                        <input type="text" class="form-control validate[required]" id="apellido" ng-model="user.lastname" placeholder="Apellido">
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <select type="text" class="form-control validate[required]" id="type" ng-model="user.type" placeholder="Genero">
                            <option value="" selected="selected" disabled>Seleccione rol</option>
                            <option value="admin">Administrador</option>
                            <option value="interviewer">Encuestador</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="text" class="form-control validate[required]" id="phone" ng-model="user.phone" placeholder="Telefono">
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="email" class="form-control validate[required, custom[email]]" id="email" ng-model="user.email" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="password" class="form-control validate[required]" id="password" ng-model="user.password" placeholder="Contraseña">
                    </div>
                </div>
            </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-md btn-primary center-block" value="Actualizar">
                </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

<script>
    function reset() {
        document.getElementById("formID").reset();
    }
</script>