<div ng-include src="'views/interviewer/navBarInterviewer.html'"></div>





<div ng-controller="AmbitoCtrl">
  <uib-accordion close-others="oneAtATime" ng-repeat="ambito in ambitos">
    <div uib-accordion-group class="panel-success" heading="{{ambito.name}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
		  <uib-accordion close-others="oneAtATime" ng-repeat="subambito in ambito.subAmbitos">
		    <div uib-accordion-group class="panel-body" heading="{{subambito.name}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" ng-click="selectSubAmbito(subambito.id)">
		    </div>
		  </uib-accordion>
    </div>
  </uib-accordion>
<ul>
	<li ng-repeat="degree in typeslevels[selected-1].degrees">
		<a ng-click="selectLevel(degree.id)">{{degree.name}}</a>
		<ul>
			<li ng-if="selectedLevel == level.degreeId && level.degreeId == degree.id" ng-repeat="level in levels">
				<input type="radio" ng-click="saveScore()" name="{{selectedLevel}}" ng-model="level.id">{{level.name}}</a>
			</li>
		</ul>
	</li>
</ul>

</div>


<!--<ul>
	<li ng-if="degree.typelevelId == selected" ng-repeat="degree in degrees">
		<a ng-click="selectLevel(degree.id)">{{degree.name}}</a>
		<ul>
			<li ng-if="selectedLevel == level.degreeId && level.degreeId == degree.id" ng-repeat="level in levels">
				<input type="radio" ng-click="saveScore()" name="{{selectedLevel}}" ng-model="level.id">{{level.name}}</a>
			</li>
		</ul>
	</li>
</ul>-->


<!--<div ng-controller="AmbitoCtrl">
  <uib-accordion close-others="oneAtATime" ng-repeat="ambito in ambitos">
    <div uib-accordion-group class="panel-success" heading="{{ambito.name}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
		  <uib-accordion close-others="oneAtATime" ng-repeat="subambito in subambitos">
		    <div uib-accordion-group class="panel-body" ng-if="subambito.ambitoId == ambito.id" heading="{{subambito.name}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" ng-click="selectSubAmbito(subambito.id)">
		    </div>
		  </uib-accordion>
    </div>
  </uib-accordion>
<ul>
	<li ng-if="degree.typelevelId == selected" ng-repeat="degree in degrees">
		<a ng-click="selectLevel(degree.id)">{{degree.name}}</a>
		<ul>
			<li ng-if="selectedLevel == level.degreeId && level.degreeId == degree.id" ng-repeat="level in levels">
				<input type="radio" ng-click="saveScore()" name="{{selectedLevel}}" ng-model="level.id">{{level.name}}</a>
			</li>
		</ul>
	</li>
</ul>

</div>-->

