<div ng-include src="'views/interviewer/navBarInterviewer.html'"></div>





<div ng-controller="AmbitoCtrl">
  <uib-accordion close-others="oneAtATime" ng-repeat="ambito in ambitos">
    <div uib-accordion-group class="panel-success" heading="{{ambito.name}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
		  <uib-accordion close-others="oneAtATime" ng-repeat="subambito in subambitos">
		    <div uib-accordion-group class="panel-body" ng-if="subambito.ambitoId == ambito.id" heading="{{subambito.name}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" ng-click="selectSubAmbito(subambito.id)">
		    </div>
		  </uib-accordion>
    </div>
  </uib-accordion>
<ul>
	<li ng-if="degree.typelevelId == selected" ng-repeat="degree in degrees">
		<a ng-click="selectLevel(degree.id)">{{degree.name}}</a>
		<ul>
			<li ng-if="selectedLevel == level.degreeId && level.degreeId == degree.id" ng-repeat="level in levels">
				<input type="radio" ng-click="saveScore()" name="{{selectedLevel}}" ng-model="level.id">{{level.name}}</a>
			</li>
		</ul>
	</li>
</ul>

</div>




<!--<div class="container-fluid">
    <div class="row" ng-controller="AmbitoCtrl">
        <div class="col-lg-12">
            <div class="accordion-wrapper">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div ng-repeat="ambito in ambitos">
                    <div class="panel panel-default" >
                        <div class="panel-heading" role="tab" id="heading{{ambito.id}}" style="top:100px; left:100px; width:100%;">
                            <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ambito.id}}" aria-expanded="true" aria-controls="collapseOne" style="font: oblique bold 120% cursive;">{{ambito.name}}
                    </a>
                </h4>
                        </div>
                        <div id="collapse{{ambito.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div ng-controller="SubAmbitoCtrl">
                        <div ng-repeat="subambito in subAmbitos">
                        	<div ng-if="ambito.id == subambito.ambitoid">
                                    <div class="panel-body">
                                        <a href="#">{{subambito.name}}</a>
                                    </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

      <!--<div ng-controller="SubAmbitoCtrl">
		  <uib-accordion close-others="oneAtATime" ng-repeat="subambito in subAmbitos">
		    <div uib-accordion-group class="panel-default" heading="{{subambito.name}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
		    </div>
		  </uib-accordion>
      </div>-->

