<div ng-include src="'views/interviewer/navBarInterviewer.html'"></div>

<div ng-controller="SurveyCtrl">
    <div class="form-group">
        <div class="col-sm-10">
            <h2 style="text-align: center">INGRESAR ENCUESTA</h2>

            <select class="form-control notBorder" ng-model="municipality">
                <option value="{{municipality.id}}" ng-repeat="municipality in municipalities">{{municipality.name}}
                </option>
            </select>
        </div>
    </div>

    <div>
        <a class="btn" href="" ng-click="addSurvey()" type="button">CREAR</a>
        <a class="btn" href="" ng-click="editSurvey()" onclick="ocultar()" type="button">CARGAR</a>
    </div>
</div>


<div ng-controller="AmbitoCtrl" id="detalles">
    <div class="col-sm-4">
        <uib-accordion close-others="oneAtATime" ng-repeat="ambito in ambitos">
            <div uib-accordion-group class="panel-success" heading="{{ambito.name}}" is-open="status.isFirstOpen"
                 is-disabled="status.isFirstDisabled">
                <uib-accordion close-others="oneAtATime" ng-repeat="subambito in ambito.subAmbitos">
                    <div uib-accordion-group class="panel-body" heading="{{subambito.name}}"
                         is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled"
                         ng-click="selectSubAmbito(subambito.id)">
                    </div>
                </uib-accordion>
            </div>
        </uib-accordion>
    </div>
    <div class="col-sm-8">
        <ul>
            <li ng-repeat="degree in typeslevels[selected-1].degrees">
                <a ng-click="selectLevel(degree.id)">{{degree.name}}</a>
                <ul>
                    <li ng-if="selectedLevel == level.degreeId && level.degreeId == degree.id"
                        ng-repeat="level in levels">
                        <div ng-repeat="score in scores">
                            <div ng-if="level.degreeId == score.degree.id && score.subAmbito.id == subambito">
                                <div ng-if="score.levelId == level.id">
                                    <input type="radio" ng-click="saveScore(score.id, level.id)"
                                           name="{{selectedLevel}}"
                                           ng-checked="true">{{level.name}}</a>
                                </div>
                                <div ng-if="score.levelId != level.id">
                                    <input type="radio" ng-click="saveScore(score.id, level.id)"
                                           name="{{selectedLevel}}">{{level.name}}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
<script>
    $(detalles).hide();
    function ocultar() {
        $(detalles).show();
    }
    ;
</script>